body {
    margin: 0%;
}
header {
   
    z-index: 2;
    display: flex;
    background-color: aquamarine;    
    height: 12%;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

}
.logo img {
    padding: 10px;
    height: 50px;
    width: 65px;
}
a {
    text-decoration: none;
    color: black;
}
.logo h2 {
    font-family: 'Bangers';
    font-size: 200%;
    font-weight: bolder;
}
nav a{
    font-size: larger;
    font-family: 'bangers';
    font-weight: 800;
    padding-right: 20px;
    padding-left: 100px;
}

nav a:hover {
    color: blanchedalmond;
}

.fondo1 {
    margin-top: 0%;
    position: absolute;
    height: 101%;
    width: 100%;
    z-index: 1;
}
h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family:'bangers' ;
    color: rgb(246, 244, 244);
    margin-top: 0%;
    padding-top: 40%;
    margin-bottom: 0%;
    background-color:none;
    z-index: 3;
    font-size: 200%;
    
    
}
.capa1 {
    height: 30%;
    width: 100%;
    margin-top: -9%;
    position: absolute;
    background-color: rgb(23, 168, 168);
    z-index: 2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%
    
    ;
    
}